{% if not session.user_name %}
    <form action="{{ url_for("login") }}" method="POST">
        <p class="login_hidden">Если пользователя не существует, он будет создан:</p>
        <input type="text" class="login_hidden" name="user_name" placeholder="Имя">
        <input type="text" class="login_hidden" name="password" placeholder="Пароль">
        <input type="submit" id="login_submit_button" class="btn btn-primary" value="Войти">
        <script>
            $(".login_hidden").hide();
            $("#login_submit_button")
                    .attr("type", "button")
                    .click(function (e) {
                        e.preventDefault();
                        $(".login_hidden").show(300);
                        $("#login_submit_button")
                                .attr("type", "submit")
                                .unbind('click');
                    });
        </script>
    </form>
{% else %}
    Пользователь {{ session.user_name }}
    <a href="{{ url_for("logout") }}" class="btn btn-primary">Выйти</a>
{% endif %}