{#
contains link to full page, city and contry names, and temperature
is used in city lists
#}
{% macro short_tile(data, city, class_top, class_bottom, next_action='show') %}
    <a href="{{ url_for('weather', city_id=city.id, for_humans=city.name.en)
            if next_action == 'show' else
            url_for('add_city', city_id=city.id, for_humans=city.name.en) }}">
        <div class="span3 outline">
            <dl class="palette {{ class_top }}">
                <h3>{{ city.name[get_locale()] }}</h3>
                {{ city.country_name[get_locale()] }}
            </dl>
            <dl class="palette {{ class_bottom }}">
                <h2>{{ '%g' % data.metar.temperature }}°C</h2>
            </dl>
        </div>
    </a>
{% endmacro %}


{#
description for a clouds array
#}
{% macro clouds_string(clouds) %}
    {% if not clouds %}
        {% trans %}Безоблачно{% endtrans %}
    {% else %}
        {% set cloud = clouds[0] %}
        {% if cloud.cover in ['SKC', 'CLR', 'NSC'] %}
            {% trans %}Ясно{% endtrans %}
        {% elif cloud.cover == 'FEW' %}
            {% trans %}Незначительная облачность{% endtrans %}
        {% elif cloud.cover == 'SCT' %}
            {% trans %}Средняя облачность{% endtrans %}
        {% elif cloud.cover == 'BKN' %}
            {% trans %}Сильная облачность{% endtrans %}
        {% elif cloud.cover == 'OVC' %}
            {% trans %}Сплошная облачность{% endtrans %}
        {% elif cloud.cover == 'VV' %}
            {% trans %}Облачность{% endtrans %}
        {% else %}
            НЕИЗВЕСТНО!!!
        {% endif %}
        {% if cloud.cover not in ['SKC', 'CLR', 'NSC'] and cloud.height %}
            {{ _( 'на высоте %(height).0f м', height=cloud.height|round(-1)) }}
        {% endif %}
    {% endif %}
{% endmacro %}


{#
description of weather array
#}
{% macro weather_conditions_string(weather) %}
    {% if not weather %}
        {% trans %}Без осадков{% endtrans %}
    {% else %}
        {% set j = joiner() %}
        {% for intensity, description, precipitation, obscuration, other in weather %}
            {{ j() }}
            {% if precipitation == 'SN' %}
                {% trans %}Снег{% endtrans %}
            {% else %}
                {{ precipitation }}
            {% endif %}
            {#            {{ intensity or '' }}#}
            {#            {{ description or '' }}#}
            {#            {{ obscuration or '' }}#}
            {#            {{ other or '' }}#}
        {% endfor %}
    {% endif %}
{% endmacro %}


{#
full infromation: city and country name, distance from station, temperature,
clouds, weather conditions, pressure, wind, humidity, visibility,
and if a deletion link if requested
#}
{% macro long_tile(data, city, class_top, class_bottom, with_delete=False) %}
    <div class="span4 outline" style="position: relative;">
        {% if with_delete %}
            <a href="#" class="remove-city-link" data-cityid="{{ city.id }}">
                <span
                        class="fui-cross-24"
                        style="position: absolute; top: 10px; right: 10px; zoom: 2; color: indianred;">
                </span>
            </a>
        {% endif %}
        <dl class="palette {{ class_top }}">
            <h3>{{ city.name[get_locale()] }}</h3>
            {{ city.country_name[get_locale()] }},
            {{ _( '%(dist).0f км от метеостанции', dist=data.distance) }}
        </dl>
        <dl class="palette {{ class_bottom }}" style="line-height: 15pt;">
            <h2>{{ '%g' % data.metar.temperature }}°C</h2>

            <div>{{ clouds_string(data.metar.clouds) }}</div>
            <div>{{ weather_conditions_string(data.metar.weather) }}</div>
            <div>{{ _( '%(press).0f мм.рт.ст.', press=data.metar.pressure) }}</div>
            <div>
                {% if data.metar.wind.speed > 0 %}
                    {% trans %}Ветер{% endtrans %}
                    <span class="arrow dir-{{ data.metar.wind.direction | arrow_class }}"></span>
                    {{ _( '%(speed).0f м/с', speed=data.metar.wind.speed) }}
                {% else %}
                    {% trans %}Безветренно{% endtrans %}
                {% endif %}
            </div>
            <div>{{ _( 'Точка росы %(dew).0f°C', dew=data.metar.dew_point) }},
                {{ _( 'влажность %(hum).0f%%', hum=data.metar.humidity * 100) }}
            </div>
            <div>{% trans %}Видимость{% endtrans %} {% if data.metar.visibility[1] < 9000 %}{{ _( '%(vis).0f м', data.metar.visibility[1]) }}
                {% else %}<span style="font-size: large;">∞</span>{% endif %}</div>
        </dl>
    </div>
{% endmacro %}


{#
login form (shows after pressing login button) if not logged in,
and username with logout button if logged in
#}
{% macro login() %}
    {% if not session.user_name %}
        <form action="{{ url_for("login") }}" method="POST">
            <p class="login_hidden">{% trans %}Если пользователя не существует, он будет создан:{% endtrans %}</p>
            <input type="text" class="login_hidden" name="user_name" placeholder="{% trans %}Имя{% endtrans %}">
            <input type="text" class="login_hidden" name="password" placeholder="{% trans %}Пароль{% endtrans %}">
            <span class="fui-lock-24"></span>
            <input type="submit" id="login_submit_button" class="btn btn-primary" value="{% trans %}Войти{% endtrans %}">
            <script>
                $(".login_hidden").hide();
                $("#login_submit_button")
                        .attr("type", "button")
                        .click(function (e) {
                            e.preventDefault();
                            $(".login_hidden").show(300);
                            $("#login_submit_button")
                                    .attr("type", "submit")
                                    .unbind('click');
                        });
            </script>
        </form>
    {% else %}
        {% trans %}Пользователь{% endtrans %} <a href="{{ url_for('user_page') }}">{{ session.user_name }}</a>
        <span class="fui-man-24"></span>&nbsp;
        <a href="{{ url_for("logout") }}" class="btn btn-primary">{% trans %}Выйти{% endtrans %}</a>
    {% endif %}
{% endmacro %}


{#
list of short_tile()s for each city
#}
{% macro cities_list(header, cities, palette_top, palette_bottom, next_action=None) %}
    {% if cities %}
        {% if header %}<h2 class="demo-panel-title">{{ header }}</h2>{% endif %}
        <div class="row mbl">
            {% for city in cities %}
                {{ short_tile(city.data, city, 'palette-' ~ palette_top, 'palette-' ~ palette_bottom, next_action=next_action) }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
