{% macro short_tile(data, city, class_top, class_bottom, next_action='show') %}
    <a href="{{ url_for('weather', city_id=city.id, for_humans=city.name_en)
            if next_action == 'show' else
            url_for('add_city', city_id=city.id, for_humans=city.name_en) }}">
        <div class="span3 outline">
            <dl class="palette {{ class_top }}">
                <h3>{{ city.name_ru }}</h3>
                {{ city.country_ru }}
            </dl>
            <dl class="palette {{ class_bottom }}">
                <h2>{{ '%g' % data.metar.temperature }}°C</h2>
            </dl>
        </div>
    </a>
{% endmacro %}


{% macro clouds_string(clouds) %}
    {% if not clouds %}
        Безоблачно
    {% else %}
        {% set cloud = clouds[0] %}
        {% if cloud.cover in ['SKC', 'CLR', 'NSC'] %}
            Ясно
        {% elif cloud.cover == 'FEW' %}
            Незначительная облачность
        {% elif cloud.cover == 'SCT' %}
            Средняя облачность
        {% elif cloud.cover == 'BKN' %}
            Сильная облачность
        {% elif cloud.cover == 'OVC' %}
            Сплошная облачность
        {% elif cloud.cover == 'VV' %}
            Облачность
        {% else %}
            НЕИЗВЕСТНО!!!
        {% endif %}
        {% if cloud.cover not in ['SKC', 'CLR', 'NSC'] and cloud.height %}
            на высоте {{ '%.0f' % (cloud.height|round(-1)) }} м
        {% endif %}
    {% endif %}
{% endmacro %}


{% macro weather_conditions_string(weather) %}
    {% if not weather %}
        Без осадков
    {% else %}
        {% set j = joiner() %}
        {% for intensity, description, precipitation, obscuration, other in weather %}
            {{ j() }}
            {% if precipitation == 'SN' %}
                Снег
            {% else %}
                {{ precipitation }}
            {% endif %}
            {#            {{ intensity or '' }}#}
            {#            {{ description or '' }}#}
            {#            {{ obscuration or '' }}#}
            {#            {{ other or '' }}#}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro long_tile(data, city, class_top, class_bottom, with_delete=False) %}
    <div class="span4 outline" style="position: relative;">
        {% if with_delete %}
            <a href="#" class="remove-city-link" data-cityid="{{ city.id }}">
                <span
                        class="fui-cross-24"
                        style="position: absolute; top: 10px; right: 10px; zoom: 2; color: indianred;">
                </span>
            </a>
        {% endif %}
        <dl class="palette {{ class_top }}">
            <h3>{{ city.name_ru }}</h3>
            {{ city.country_ru }},
            {{ '%.0f' % data.distance }} км от метеостанции
        </dl>
        <dl class="palette {{ class_bottom }}" style="line-height: 15pt;">
            <h2>{{ '%g' % data.metar.temperature }}°C</h2>

            <div>{{ clouds_string(data.metar.clouds) }}</div>
            <div>{{ weather_conditions_string(data.metar.weather) }}</div>
            <div>{{ '%.0f' % data.metar.pressure }} мм.рт.ст.</div>
            <div>Ветер
                <span class="arrow dir-{{ data.metar.wind.direction | arrow_class }}"></span>
                {{ '%.0f' % data.metar.wind.speed }}
                м/с
            </div>
            <div>Точка росы {{ '%.0f' % data.metar.dew_point }}°C,
                влажность {{ '%.0f' % (data.metar.humidity * 100) }}%
            </div>
            <div>Видимость {% if data.metar.visibility[1] < 9000 %}{{ '%.0f' % data.metar.visibility[1] }} м
                {% else %}<span style="font-size: large;">∞</span>{% endif %}</div>
        </dl>
    </div>
{% endmacro %}


{% macro login() %}
    {% if not session.user_name %}
        <form action="{{ url_for("login") }}" method="POST">
            <p class="login_hidden">Если пользователя не существует, он будет создан:</p>
            <input type="text" class="login_hidden" name="user_name" placeholder="Имя">
            <input type="text" class="login_hidden" name="password" placeholder="Пароль">
            <span class="fui-lock-24"></span>
            <input type="submit" id="login_submit_button" class="btn btn-primary" value="Войти">
            <script>
                $(".login_hidden").hide();
                $("#login_submit_button")
                        .attr("type", "button")
                        .click(function (e) {
                            e.preventDefault();
                            $(".login_hidden").show(300);
                            $("#login_submit_button")
                                    .attr("type", "submit")
                                    .unbind('click');
                        });
            </script>
        </form>
    {% else %}
        Пользователь <a href="{{ url_for('user_page') }}">{{ session.user_name }}</a>
        <span class="fui-man-24"></span>&nbsp;
        <a href="{{ url_for("logout") }}" class="btn btn-primary">Выйти</a>
    {% endif %}
{% endmacro %}


{% macro cities_list(header, cities, palette_top, palette_bottom, next_action=None) %}
    {% if cities %}
        {% if header %}<h2 class="demo-panel-title">{{ header }}</h2>{% endif %}
        <div class="row mbl">
            {% for city in cities %}
                {{ short_tile(city.data, city, 'palette-' ~ palette_top, 'palette-' ~ palette_bottom, next_action=next_action) }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
